@charset "utf-8";

/*
STYLE NAME: Font Stylesheet
DESCRIPTION: Font Stylesheet.
VERSION: 1.0
AUTHOR: Odyssey
AUTHOR URI: http://www.odysseygate.com/
*/

body {
  font-family: Arial, Helvetica, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, Meiryo, "MS P Gothic", sans-serif;
  font-size: 13px;
  *font-size: small;
  *font: x-small;
}

table {
  font-size: 100%;
}

select, input, textarea {
  font-family: Meiryo, Osaka, "MS P Gothic", Arial, sans-serif;
  font-size: 99%;
}

pre, code, samp, kbd, var {
  font-family: monospace;
  font-size:100%;
}

sub, sup {
  font-size: 50%;
}