div#container {
	float: left;
	width: 100%;
}
div#content {
	margin: 0 400px 0 0;
}
div.sidebar {
	float: left;
	width: 150px;
}
div#col1 {
	margin: 0 0 0 -400px;
}
div#col2 {
	margin: 0 0 0 -200px;
}
div#footer {
	clear: left;
	width: 100%
}